<div>
  <div class="row">
    <div class="columns large-12">
      <h1>Visualize annotations</h1>
      <p>Add the annotated abstract files to visualize the annotations</p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <div ng-repeat="file in files track by $index">
        <file-reader file="files[$index]"></file-reader>
      </div>
      <button class="small success" ng-click="addFile(files)">Add File</button>
    </div>

    <div class="row" ng-repeat="abstracts in abstracts(files) track by $index">
      <div class="columns large-4" ng-repeat="abstract in abstracts">
        <h3>{{$parent.$index}}</h3>
        <abstract content="{{abstract}}"></abstract>
        <hr>
      </div>
    </div>
  </div>
</div>
