<div>
  <div id="annotatePopup">
    <ul>
      <li ng-repeat="annotation in annotations">
        <a ng-click="annotate(annotation.tag)">{{annotation.title}}</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="columns large-12">
      <h1>Annotate a file</h1>
      <div class="row">
        <div class="columns large-3">
          <label>Upload</label>
          <file-reader file="file"></file-reader>
          <button class="small success" ng-click="upload(file)">Open</button>
        </div>

        <div class="columns large-3 pull-6">
          <div class="row collapse">
            <label>File Name</label>
            <div class="small-9 columns">
              <input type="text" ng-model="fileName">
            </div>
            <div class="small-3 columns">
              <span class="postfix">.txt</span>
            </div>
          </div>
          <button class="small alert" ng-click="save(fileName, result)" confirmation-needed="Really Save?" >Save</button>
        </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="columns large-8" ng-mouseup="triggerAnnotate()">
      <pre><abstract id="{{result}}" content="{{text}}" editable="false"></abstract></pre>
    </div>
  </div>

</div>
