.allocation-concealment_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}
.blinding-of-outcome-assessment_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}
.blinding-of-participants-and-personnel_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}
.incomplete-outcome-data_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}
.random-sequence-generation_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}
.selective-reporting_1 {
    border-bottom: 1px solid rgba(255, 255, 0, 0.8);
    background-color: rgba(255, 255, 0, 0.05);
}