tx {
  background-color: rgba(255, 210, 115, 0.8);
}
n {
  background-color: rgba(94, 196, 205, 0.8);
}
tx1 {
  background-color: rgba(255, 115, 115, 0.8);
}
tx1_a {
  background-color: rgba(255, 217, 217, 0.8);
}
tx1_b {
  background-color: rgba(255, 217, 217, 0.8);
}
tx1-a {
  background-color: rgba(255, 217, 217, 0.8);
}
tx1-b {
  background-color: rgba(255, 217, 217, 0.8);
}
n1 {
  background-color: rgba(255, 162, 115, 0.8);
}
tx2 {
  background-color: rgba(59, 163, 208, 0.8);
}
tx2_a {
  background-color: rgba(141, 202, 228, 0.8);
}
tx2_b {
  background-color: rgba(141, 202, 228, 0.8);
}
tx2-a {
  background-color: rgba(141, 202, 228, 0.8);
}
tx2-b {
  background-color: rgba(141, 202, 228, 0.8);
}
n2 {
  background-color: rgba(59, 113, 208, 0.8);
}
tx3 {
  background-color: rgba(134, 179, 45, 0.8);
}
tx3_a {
  background-color: rgba(181, 218, 108, 0.8);
}
tx3_b {
  background-color: rgba(181, 218, 108, 0.8);
}
tx3-a {
  background-color: rgba(181, 218, 108, 0.8);
}
tx3-b {
  background-color: rgba(181, 218, 108, 0.8);
}
n3 {
  background-color: rgba(89, 179, 45, 0.8);
}
tx4 {
  background-color: rgba(255, 120, 0, 0.8);
}
tx4_a {
  background-color: rgba(255, 174, 102, 0.8);
}
tx4_b {
  background-color: rgba(255, 174, 102, 0.8);
}
tx4-a {
  background-color: rgba(255, 174, 102, 0.8);
}
tx4-b {
  background-color: rgba(255, 174, 102, 0.8);
}
n4 {
  background-color: rgba(255, 205, 0, 0.8);
}
tx5 {
  background-color: rgba(120, 255, 0, 0.8);
}
tx5_a {
  background-color: rgba(174, 255, 102, 0.8);
}
tx5_b {
  background-color: rgba(174, 255, 102, 0.8);
}
tx5-a {
  background-color: rgba(174, 255, 102, 0.8);
}
tx5-b {
  background-color: rgba(174, 255, 102, 0.8);
}
n5 {
  background-color: rgba(35, 255, 0, 0.8);
}
.exclude {
  color: #ccc;
}
.notes {
  margin-top: 2em;
  font-weight: bold;
}
.row {
  min-width: 90% !important;
}
/* Annotate tooltip */
#annotatePopup {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  z-index: 10000;
  display: none;
  opacity: 0.8;
  border: 1px solid #ccc;
  background-color: white;
}
#annotatePopup ul {
  padding: 10px;
  margin-bottom: 0;
  list-style-type: none;
}
#annotatePopup ul li a:hover {
  text-decoration: underline;
}
/*====================================================
  CSS Tooltips by Adam Whitroft
  https://github.com/AdamWhitcroft/CSS.Tooltips
  ====================================================*/
/*==================================================*/
/* $Tooltips */
/*==================================================*/
[data-tip] {
  position: relative;
  cursor: help;
}
[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */

  display: none;
  border: 5px solid #1a1a1a;
  /* 4 border technique to create the arrow */

  border-top-color: #1a1a1a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -9px;
  left: 10px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: -35px;
  left: 0px;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 1em;
  height: 26px;
  line-height: 19px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}
